{
    "ImageId": "{{ amiID }}",
    "MaxCount": {{ maxCount }},
    "MinCount": {{ minCount }},
    "DisableApiTermination": {{ disableAPITermination }},
    "DryRun": {{ dryRun }},
    "InstanceInitiatedShutdownBehavior": "{{ shutdownBehavior }}",
    "InstanceType": "{{ instanceType }}",
    "KeyName": "{{ keyName }}",
    "Placement": {
        "AvailabilityZone": "{{ availabilityZone }}"
    },
    "NetworkInterfaces": [{% for n in networkInterfaces %}
            {
                "DeviceIndex": {{ loop.index-1 }},
                "AssociatePublicIpAddress": {{ n.publicIP }},
                "DeleteOnTermination": {{ n.deleteOnTermination }},
                "SubnetId": "{{ n.subnetID }}",
                "Groups": [{% for g in n.groups %}
                    "{{g}}"{{ "," if not loop.last }}
                  {% endfor %}]
            }{{ "," if not loop.last }}
        {% endfor %}]
}
